---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';


<Layout title="Welcome to Astro.">
    <h1 class="mb-10">AWB E-Form</h1>
    <div class="iframe-container">
        <iframe src="https://www.kclcloud.com/EFormHost.aspx?PublicAccess=o6056Dn%2f61HptmlkmjN937MPB3pyyU7VCCiH5vOA7xGbRmyOAlM3RYWdjgAdpNK14bCeUa5bxZaan%2fn51ndIg1FwTSFLJGNgiZsyxXJfB%2b8%3d" border="0" framespacing="0" marginheight="0" marginwidth="0" vspace="100" hspace="0" scrolling="yes" width="100%" frameborder="0" height="800px"></iframe>
    </div>
</Layout>
